<!DOCTYPE html>
<html lang=en>
<head>
  <title>VideoClub</title>
  <link rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='style/style.css')}}"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{{url_for('static', filename='scripts/password_strength.js')}}"></script>
  <script src="{{url_for('static', filename='scripts/user_count.js')}}"></script>
  <script src="{{url_for('static', filename='scripts/registro_validation.js')}}"></script>
  <script src="{{url_for('static', filename='scripts/detalle_compra.js')}}"></script>
</head>

<body>
<p id="url" hidden>{{url_for('ajax')}}</p>

<div id="container">
  <div id="header">
    <h1>
      <a href="{{url_for('home')}}">
      <img id="logo" src="{{url_for('static', filename='images/logo.png')}}">
      VideoClub
      </a>
        <form id="searchbar" action="{{url_for('home')}}" method="POST">
          <input type="text" name="busqueda">
          <select name="genero">
            <option value="todas">Todas</option>
            {% for genero in generos %}
              <option value="{{genero}}">{{genero}}</option>
            {% endfor %}
          </select>
          <input type="submit" value="Buscar">
        </form>
    </h1>
  </div>
  <div id="menu">
    <ul id="menu_list">
      {% if session['usuario'] %}
      <li id="username"><strong>Usuario:</strong> {{session['usuario']}}</li>
      {% endif %}
      <li><a class="item" href="{{url_for('carrito')}}">Carrito</a></li>
      {% if not session["usuario"] %}
      <li><a class="item" href="{{url_for('login')}}">Entrar</a></li>
      <li><a class="item" href="{{url_for('register')}}">Registrarse</a></li>
      {% else %}
      <li><a class="item" href="{{url_for('historial')}}">Historial</a></li>
      <li><a class="item" href="{{url_for('logout')}}">Salir</a></li>
      {% endif %}
    </ul>
  </div>

  <div id="content">
    {% block content %}{% endblock %}
  </div>

  <div id="footer">
    Pie de página
  </div>
</div>

</body>
</html>
