{% extends "base.html" %}

{% block content %}
<img id="detail_img" src="{{url_for('static', filename='images/caratula.jpg')}}">
<div id="detail_text">
  <h2>{{pelicula[1]}}</h2>
  <ul>
    <li>Año: {{pelicula[2]}}</li>
    {% if directores %}
    <li>Director/es: {{directores}}</li>
    {% endif %}
    {% if categorias %}
    <li>Categoría/s: {{categorias}}</li>
    {% endif %}
    {% if reparto %}
    <li>Reparto: {{reparto}}</li>
    {% endif %}
  </ul>
  <br>
  {% if precios %}
  <form id="product_selector" method="GET" action="{{url_for('add')}}">
    Productos disponibles: 
    <select name="product" id="product">
      {% for precio in precios %}
      <option value="{{precio[0]}}">{{precio[1]}} - {{precio[2]}}</option>
      {% endfor %}
    </select>
    Cantidad: 
    <input type="number" name="quantity" min="1" value=1>
    
    <br>
    <input type="submit" id="anadir_carro" value="Añadir al carrito">
  </form>
  {% else %}
    No hay stock disponible
  {% endif %}
</div>
{% endblock %}
