{% extends "base.html" %}

{% block content %}

{% if top_actors %}
  <form id="top_actors_params" action="{{url_for('home')}}" method="GET">
    <input type="number" name="n_top" value=10>
    <select name="genero">
      <option value="Action">Action</option>
      {% for genero in generos %}
        <option value="{{genero}}">{{genero}}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Buscar">
  </form>
  <table class="historial top_actors">
    <tr>
      <th><h2>Actor</h2></th>
      <th><h2>Num</h2></th>
      <th><h2>Debut</h2></th>
      <th><h2>Film</h2></th>
      <th><h2>Director</h2></th>
    </tr>
    {% for row in top_actors %}
    <tr>
      <td>{{row['actor']}}</td>
      <td>{{row['num']}}</td>
      <td>{{row['debut']}}</td>
      <td><a href={{url_for('pelicula', id=row['movieid'])}}>{{row['film']}}</a></td>
      <td>{{row['director']}}</td>
    </tr>
    {% endfor %}
  </table>

{% endif %}

{% if not lista %}
<p> No se han encontrado resultados </p>
{% else %}
{% for elem in lista %}
  <div class='pelicula' title='{{elem[1]}}'>
    <a href="{{url_for('pelicula', id=elem[0])}}">
      <img class='pelicula-img' src="{{url_for('static', filename='images/caratula.jpg')}}">
      <div class='pelicula-titulo'>
        <p>{{elem[1]}}</p>
      </div>
    </a>
  </div>
{% endfor %}
{% endif %}

{% endblock %}
