<!DOCTYPE html>
<html lang=en>
<head>
    <title>Test</title>
    <link rel="stylesheet"
          type="text/css"
          href={{url_for('static', filename='style.css')}}/>

    <style>
        li a {
            display:block;
            color: black;
            text-decoration: none;
        }
        li a:hover {
            color:orange;
        }
        img:hover {
            border: 2px solid orange
        }
    </style>
</head>

<body style='background-color:rgb(21, 216, 102, 0.87)'>

<div id="container">

    <div id="header" style="background-color:rgb(14, 82, 0);">
        <h1 title="El mejor club de video" style="margin-bottom:0">VideoClub</h1>
    </div>



    <div id="menu" style="height:100%;width:15%;float:left;">
        <h4>Menu</h4>
        <ul id='menu_list'>
            <li><a href='#item1'>Item 1</a></li>
            <li><a href='#item2'>Item 2</a></li>
            <li><a href='#item3'>Item 3</a></li>
        </ul>
    </div>

    <div id="content" style="width:85%;float:left;">
        <img src='caratula.jpg' height='300' style='border:2px solid blue; margin:5px'>
        <img src='caratula.jpg' height='300' style='border:2px solid blue; margin:5px'>
        <img src='caratula.jpg' height='300' style='border:2px solid blue; margin:5px'>
        <img src='caratula.jpg' height='300' style='border:2px solid blue; margin:5px'>
        <img src='caratula.jpg' height='300' style='border:2px solid blue; margin:5px'>
        <img src='caratula.jpg' height='300' style='border:2px solid blue; margin:5px'>

        
    </div>

    <div id="footer" style="background-color:rgb(10, 61, 0);clear:both;text-align:center;">
        Pie de pagina
    </div>

</div>

</body>
</html>
