<!DOCTYPE html>
<html lang=en>
<head>
  <title>VideoClub</title>
  <link rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='style.css')}}"/>
</head>

<body>

<div id="container">
  <div id="header" class="headerfooter">
    <h1 title="El mejor club de video">
      VideoClub
        <form id="searchbar">
          <input type="text" id="busqueda">
          <select id="genero">
            <option value="todas">Todas</option>
            <option value="accion">Acción</option>
            <option value="comedia">Comedia</option>
          </select>
          <input type="submit" value="Buscar">
        </form>
    </h1>
  </div>
  <div id="menu">
    <ul id="menu_list">
      <li><a class="item" href="/"><strong>Home</strong></a></li>
      <li><a class="item" href="/login">Entrar</a></li>
      <li><a class="item" href="/register">Registrarse</a></li>
    </ul>
  </div>

  <div id="content">
    {% block content %}{% endblock %}
  </div>

  <div id="footer" class="headerfooter">
    Pie de página
  </div>
</div>

</body>
</html>
