<!DOCTYPE html>
<html lang=en>
<head>
    <title>Test</title>
    <link rel="stylesheet"
          type="text/css"
          href={{url_for('static', filename='style.css')}}/>
</head>

<body>

<div id="container" style="height:300px;">

    <div id="header" style="background-color:orange;">
        <h1 title="El mejor club de video" style="margin-bottom:0">VideoClub</h1>
    </div>

    <div id="menu" style="background-color:yellow;height:100%;width:10%;float:left;">
        <b>Menu</b><br/>
        Item 1<br/>
        Item 2<br/>
        Item 3
    </div>

    <div id="content" style="background-color:#EEEEEE;height:100%;width:90%;float:left;">
        Lorem ipsum dolor sit amet
    </div>

    <div id="footer" style="background-color:orange;clear:both;text-align:center;">
        Pie de pagina
    </div>

</div>

</body>
</html>
