{% extends "base.html" %}

{% block content %}
  {% if historial %}
  <table>
    <tr>
      <th><strong>Fecha</strong></th>
      <th><strong>Importe</strong></th>
    </tr>
    {% for fecha in historial %}
    <tr>
      <td>{{fecha.strftime("%d/%m/%Y, %H:%M:%S")}}</td>
      <td>{{historial[fecha][0]}}</td>
    </tr>
    <div class="detalle_compra">
      <!-- Tabla de detalle de compra -->
    </div>
    {% endfor %}
  </table>
  {% else %}
    No se ha realizado ninguna compra
  {% endif %}
{% endblock %}
