{% extends "base.html" %}

{% block content %}
  {% if historial|length > 0 %}
  <table class="historial">
    <tr>
      <th><h2>Fecha</h2></th>
      <th><h2>Importe</h2></th>
    </tr>
    {% for fecha in historial %}
    <tr>
      <td>{{fecha}}
        <div class="detalle_compra">
          <!-- Tabla de detalle de compra -->
          <table>
            {% for pelicula in historial[fecha][1] %}
            <tr>
              <td>{{pelicula[0]}}</td>
              <td>{{pelicula[2]}} x {{pelicula[1]}}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </td>
      <td>{{historial[fecha][0]}}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
    No se ha realizado ninguna compra
  {% endif %}
{% endblock %}
