<!DOCTYPE html>
<html lang=en>
<head>
  <title>Test</title>
  <link rel="stylesheet"
      type="text/css"
      href="../static/style.css"/>

</head>

<body>

<div id="container">
  <div id="stickies">
    <div id="header" class="headerfooter">
      <h1 title="El mejor club de video" float='left'>
        VideoClub
          <form id="searchbar">
            <input type='text' id='busqueda'>
            <input type='submit' value='Buscar'>
          </form>
      </h1>
    </div>

    <div id="menu">
      <ul id='menu_list'>
        <li><a class='item' href='index.html'><strong>Home</strong></a></li>
        <li><a class='item' href='#item1'>Item 1</a></li>
        <li><a class='item' href='#item2'>Item 2</a></li>
        <li><a class='item' href='#item3'>Item 3</a></li>
      </ul>
    </div>
  </div>

  <div id="content">
    <img class='pelicula' src='caratula.jpg'>
    <img class='pelicula' src='caratula.jpg'>
    <img class='pelicula' src='caratula.jpg'>
    <img class='pelicula' src='caratula.jpg'>
    <img class='pelicula' src='caratula.jpg'>
    <img class='pelicula' src='caratula.jpg'>  
  </div>

  <div id="footer" class="headerfooter">
    Pie de página
  </div>
</div>

</body>
</html>
