{% extends "base.html" %}

{% block content %}

<div class='pelicula' title='A todo tren: Destino Asturias'>
  <img class='pelicula-img' src="{{url_for('static', filename='caratula.jpg')}}">
  <div class='pelicula-titulo'>
    <p>A todo tren: Destino Asturias</p>
  </div>
</div>
<div class='pelicula' title='A todo tren: Destino Asturias'>
  <img class='pelicula-img' src="{{url_for('static', filename='caratula.jpg')}}">
  <div class='pelicula-titulo'>
    <p>A todo tren: Destino Asturias</p>
  </div>
</div>
<div class='pelicula' title='A todo tren: Destino Asturias'>
  <img class='pelicula-img' src="{{url_for('static', filename='caratula.jpg')}}">
  <div class='pelicula-titulo'>
    <p>A todo tren: Destino Asturias</p>
  </div>
</div>

{% endblock %}