{% extends "base.html" %}

{% block content %}
    <div id="div_pago">
        <h1>Subtotal: {{precio|round(2)}}€</h1>
        <h2>Saldo: {{saldo|round(2)}}€  Puntos: {{puntos|round(0)|int}}</h2>
        <br>
        {% if saldo >= precio %}
            <a class="boton_pago" href='/saldo'>Comprar con saldo de cuenta</a>
        {% endif %}
        {% if puntos >= precio*100 %}
            <a class="boton_pago" href='/puntos'>Comprar con puntos</a>
        {% endif %}
        {% if precio > saldo and precio*100 > puntos %}
            No dispone de saldo ni puntos con los que realizar el pago
        {% endif %}
    </div>
{% endblock %}