{% extends "base.html" %}

{% block content %}

<div class="flex-container">
<form id="register_form" method="POST" onsubmit="return regValidate()">
  <label for="reg_user"> Usuario: </label>
  <input type="text" name="reg_user" minlength='6' required><br>
  <br>

  <label for="reg_email"> Email: </label>
  <input type="email" name="reg_email" required><br>
  <br>

  <label for="reg_password"> Contraseña: </label>
  <input type="password" name="reg_password" required>
  <br>
  <span id="fuerza_password">Débil</span>
  <br>

  <label for="reg_confirm"> Confirmar contraseña: </label>
  <input type="password" name="reg_confirm" required><br>
  <br>

  <label for="reg_tarjeta"> Tarjeta de crédito: </label>
  <input type="text" minlength='16' maxlength='16' name="reg_tarjeta" required><br>
  <br>

  <label for="reg_direccion"> Dirección: </label>
  <input type="text" maxlength='50' name="reg_direccion" required><br>
  <br>

  <input type="submit" value="Registrarse">
</form>
</div>

{% endblock %}
